<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <!--    adding database driver-->
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <!--    adding connection url-->
    <property name="hibernate.connection.url">your data base url type here</property>
    <!--    adding user_name -->
    <property name="hibernate.connection.username">your user name type here</property>
    <!--    adding password -->
    <property name="hibernate.connection.password">your password type here</property>
    <!--      configures the Hibernate dialect for the MySQL database-->
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <!--      configures to show the sql queries -->
    <property name="hibernate.show_sql">true</property>
    <!--      configures the Hibernate behavior for creating and dropping database tables during application -->
    <!--      startup and shutdown-->
    <property name="hibernate.hbm2ddl.auto">create-drop</property>
  </session-factory>
</hibernate-configuration>
